insightlm-local/n8n/InsightsLM___Chat.json
{
  "name": "InsightsLM - Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2fabf43f-6e6e-424b-8e93-9150e9ce7d6c",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        368
      ],
      "id": "4f70f75f-400a-44a7-9de5-051a3468cfbf",
      "name": "Webhook",
      "webhookId": "2fabf43f-6e6e-424b-8e93-9150e9ce7d6c"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"search_query\": \"<ADD>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        608
      ],
      "id": "d68b735c-197a-4f30-9e9c-4ed58b22c988",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Query: {{ $('Webhook').item.json.body.message }}\n\nConversation History: {{ JSON.stringify($json.data.slice(0,10))  }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Based on the provided user query and taking into context the conversation history, output a serach query that we can send to our vector database to retrieve relevant chunks of text"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        752,
        368
      ],
      "id": "253f9308-9218-4f04-84c0-3d174920f573",
      "name": "Generate Search Query"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "prompt": "={{ $json.output.search_query }}",
        "topK": 10,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "notebook_id",
                "value": "={{ $('Webhook').item.json.body.session_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1104,
        368
      ],
      "id": "ef24c250-f9cc-4992-b1fb-958809f6670f",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1744,
        368
      ],
      "id": "ed4c005f-e405-4bfa-9577-d6e7ba22a8c0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": [\n      {\"sentence_paragraph_with_citation\": \"<ADD>\"},\n      {\"sentence_paragraph_with_citation\": \"<ADD>\"}\n    ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2128,
        560
      ],
      "id": "8ef360ac-784f-491a-b33d-ba0e5b8237ff",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# User Query\n{{ $('Webhook').item.json.body.message }}\n\n# Conversation History \n{{ $('Aggregate1').item.json.data }}\n\n# Retrieved Chunks from Knowledgebase\n{{ JSON.stringify($json.data) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# ROLE\n\nYou are tasked with answering a users question, in the context of a conversation, using provided chunks of information. \n\nYour goal is to provide an accurate answer from these chunks while citing your sources using the following syntax. \n\nBe as detailed as possible\n\n[0] \n\nWhere the number refers to the chunk_id of the specifc chunks that contains the information.\n\n## Example:\n\nMastering the foundational techniques for your serve, forehand, and backhand is crucial for developing overall tennis proficiency, as these techniques directly impact your ability to generate power, control, consistency, accuracy, spin, leverage, and prevent injuries.[2]\n\nThe serve is detailed through five steps: Grip, Ball Toss, Trophy Position, Pronation, and Follow Through and Finish [0][7]\n\nGrip: Using the continental grip (also known as the chopper grip) is fundamental for serve proficiency. It is the same grip used for slices, forehand and backhand volleys, and the overhead smash. [9]\n\nThe citation(s) should appear at the end of the sentence or paragraph where the information is used.\n\n# IMPORTANT\n\nOutput in JSON format\nImportant: Only based your answers on information in the provided chunks from the vector store or conversation history\nImportant: If you cannot answer the question using the provided chunks, set the response value as \"Sorry I don't know\".\nImportant: You MUST trigger the \"Supabase Vector Store\" tool every time"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2000,
        368
      ],
      "id": "e8e7d50c-ee94-4e6e-8013-f60e9b91f4bf",
      "name": "Generate Response"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and transform the citation format\nfor (const item of $input.all()) {\n  // Assuming chunks are available in item.json.chunks \n  // If chunks come from a different input, modify this line accordingly\n  const chunks = $('Aggregate').first().json.data || [];\n  \n  if (item.json.output && Array.isArray(item.json.output)) {\n    const transformedOutput = [];\n    \n    for (const outputItem of item.json.output) {\n      if (outputItem.sentence_paragraph_with_citation) {\n        const textWithCitations = outputItem.sentence_paragraph_with_citation;\n        \n        // Extract citation indices using regex to find [0], [1], etc.\n        const citationMatches = textWithCitations.match(/\\[(\\d+)\\]/g) || [];\n        const citationIndices = citationMatches.map(match => parseInt(match.replace(/[\\[\\]]/g, '')));\n        \n        // Remove citations from text to get clean text\n        const cleanText = textWithCitations.replace(/\\s*\\[\\d+\\]/g, '').trim();\n        \n        // Build citations array\n        const citations = [];\n        const processedIndices = new Set(); // To avoid duplicates\n        \n        for (const citationId of citationIndices) {\n          if (!processedIndices.has(citationId)) {\n            // Find chunk by chunk_id instead of using array index\n            const chunkItem = chunks.find(chunkItem => chunkItem.chunk_id === citationId);\n            \n            if (chunkItem && chunkItem.document) {\n              const chunk = chunkItem.document;\n              const metadata = chunk.metadata;\n              \n              citations.push({\n                chunk_index: citationId,\n                chunk_source_id: metadata.source_id,\n                chunk_lines_from: metadata.loc.lines.from,\n                chunk_lines_to: metadata.loc.lines.to\n              });\n              processedIndices.add(citationId);\n            }\n          }\n        }\n        \n        transformedOutput.push({\n          text: cleanText,\n          citations: citations\n        });\n      }\n    }\n    \n    // Create the exact output format you specified\n    item.json.output = {\n      type: \"ai\",\n      content: JSON.stringify({\n        output: transformedOutput\n      }),\n      tool_calls: [],\n      additional_kwargs: {},\n      response_metadata: {},\n      invalid_tool_calls: []\n    };\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        368
      ],
      "id": "e94113b0-2f23-4ffa-b2db-7f787a121658",
      "name": "Create Output Structure with Citations"
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.session_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.human }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2832,
        368
      ],
      "id": "2030f1e3-8203-4f30-9f4f-e113ceab55d5",
      "name": "Save Human Query",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.session_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Create Output Structure with Citations').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3248,
        368
      ],
      "id": "8aef2fb0-21e0-4804-8dfc-8d8f63c7e9ae",
      "name": "Save AI Response",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3040,
        368
      ],
      "id": "f88a3a31-8723-4c9b-a374-1743d4ef3aab",
      "name": "Wait",
      "webhookId": "f763ed07-b94b-4cb5-8000-d181b3da0cea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "106e9fbb-8fe2-4bc0-8f91-50687c4ac2dd",
              "name": "human",
              "value": "={\"type\": \"human\", \"content\": {{ JSON.stringify(($('Webhook').item.json.body.message)) }}, \"additional_kwargs\": {}, \"response_metadata\": {}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        368
      ],
      "id": "ad6e5918-82e7-4911-ba45-dce65d8abc95",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add 'id' as the first field\n$input.all().forEach((item, index) => {\n  // Create a new object with id first, then spread the existing properties\n  item.json = {\n    chunk_id: index + 1,\n    ...item.json\n  };\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        368
      ],
      "id": "eee3185d-7050-487d-9e6c-268eadcab3f2",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_chat_histories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.session_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "4bf0059d-ec84-4c18-8e8a-470c6e52d453",
      "name": "Fetch Chat History",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        464,
        368
      ],
      "id": "10a3f4f6-8ac9-466f-8596-ed9dd98e7c20",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM Local - Chat\nhttps://github.com/theaiautomators/insights-lm-public\nhttps://github.com/theaiautomators/insights-lm-local-package",
        "height": 260,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "320ebb37-e296-475a-9de8-77974d7f04ed",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        624,
        640
      ],
      "id": "261ae54b-bdb3-4d87-aa2a-9021e9f8f240",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "9DB4uKAFTLnmLgtx",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "model": " text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1200,
        784
      ],
      "id": "5f09bc05-5e1a-4e94-9be3-47b4b192df90",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "9DB4uKAFTLnmLgtx",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2000,
        672
      ],
      "id": "f3d77b02-6299-4080-a70d-6e6aa1b95749",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "9DB4uKAFTLnmLgtx",
          "name": "Azure Open AI account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Search Query",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Search Query": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Response",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Create Output Structure with Citations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Output Structure with Citations": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Human Query": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save Human Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chat History": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Generate Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Search Query",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Response",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1aa4f4da-11cf-4122-ba4b-e3ddc1a16f38",
  "meta": {
    "instanceId": "068244dba05d25bac8988bd5cd582b7345afa2d5e4b550e651dcf42fe5c09e99"
  },
  "id": "yktiP1su61yUYJu4",
  "tags": [
    {
      "createdAt": "2025-10-21T18:58:06.070Z",
      "updatedAt": "2025-10-21T18:58:06.070Z",
      "id": "wAqoYDTuctUrtozN",
      "name": "TheAIAutomators.com"
    }
  ]
}